html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: linear-gradient(to bottom,rgba(104, 234, 204),rgba(73, 123, 232) 100%);
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"],
.form-signin input[type="password"],
.form-signin input[type="text"]{
  border: none;
  border-radius: 0;
  margin-bottom: 10px;
}

button{
  border-radius: 0;
}

.form-signin .signin{
  text-decoration: none;
  padding: 0 20px;
}

.form-signin button{
  border: none;
  background: #8E49E8;
}
.form-signin a{
  color: #8E49E8;
}

.form-signin a:hover{
  color: blue;
}