html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #067c24;
  background: rgba(92, 80, 80, 0.7);
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  background: rgba(54, 53, 53, 0.7);
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"],
.form-signin input[type="password"],
.form-signin input[type="text"]{
  border: none;
  border-radius: 0;
  margin-bottom: 10px;
}

button{
  border-radius: 0;
}

.form-signin .signin{
  text-decoration: none;
  padding: 0 20px;
}